body {
    background-color: #222;
    color: #fff;
    font-family: Arial, sans-serif;
  }
  
  header {
    padding: 20px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: inline-block;
    margin-right: 20px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
  }
  
  .hero {
    background-image: url("hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 420px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .hero-content {
    text-align: center;
    color: black
  }
  
  .hero h1 {
    font-size: 4rem;
    margin-bottom: 20px;
  }
  
  .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #000000de;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    margin-top: 20px;
    }
    
    .services {
    padding: 50px;
    text-align: center;
    }
    
    .services h2 {
    font-size: 3rem;
    margin-bottom: 20px;
    }
    
    .service-container {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    }
    
    .service {
    max-width: 300px;
    }
    
    .service img {
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
    }
    
    .testimonial {
    background-color: #444;
    padding: 50px;
    text-align: center;
    }
    
    .testimonial-content {
    max-width: 600px;
    margin: 0 auto;
    }
    
    .testimonial p {
    font-size: 1.5rem;
    margin-bottom: 20px;
    }
    
    .testimonial h4 {
    font-size: 1.2rem;
    }
    
    footer {
    background-color: #111;
    color: #fff;
    text-align: center;
    padding: 20px;
    }
    
    footer p {
    font-size: 1.2rem;
    }
    
    @media (max-width: 768px) {
    .hero h1 {
    font-size: 3rem;
    }
    
    .services h2 {
    font-size: 2rem;
    }
    
    .service img {
    width: 100px;
    height: 100px;
    }
    
    .testimonial p {
    font-size: 1.2rem;
    }
    
    .testimonial h4 {
    font-size: 1rem;
    }
    }

  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.5); /* Black with opacity */
  }

  .modal-content {
    background-color: #111;
    margin: 10% auto; /* 10% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
  }

  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    border-radius: 30px;
  }

  label {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
  }

  input[type="text"],
  input[type="tel"] {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
  }

  button[type="submit"] {
    background-color: #464646;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
  }

  button[type="submit"]:hover {
    background-color: #1d1d1d;
  }